@media screen and (max-width: 575px) {
    #five-day-forecast {
        display: none !important;
    }
    .dropdownmenu {
        position: relative;
        display: inline-block;
        outline: none;
    }
    .dropdownmenu-content {
        display: none;
        position: absolute;
    }

    .show {
        display: block;
    }

/*    forecast sizing*/
    li {
        height: 12vh;
    }
}
@media screen and (min-width: 576px) {
    .dropdownmenu {
        display: none;
    }
    li {
        height: 8vh;
        overflow: scroll;
    }
    .card-body {
padding: 0    }
}

